<div class="nav">
    <h3>Investing.com</h3>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'stocks' %}">Stocks</a></li>
        <li><a href="{% url 'transaction_history' %}">Transaction History</a></li>
        <li><a href="{% url 'portfolio_dashboard' %}">Portfolio</a></li>
        <li><a href="{% url 'watchlist_view' %}">Watchlist</a></li>

        {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li>{{request.user.username}}</li>

        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}

    </ul>
</div>
