body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    margin: 0;
    height: 100vh;
    padding-top: 40px;
}

.form-wrapper {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    margin :  auto ;
}

.form-container {
    background: white;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 24px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    background: #fff;
}

input[type="file"] {
    padding: 10px;
    font-size: 14px;
    background-color: #f9f9f9;
}

button {
    width: 100%;
    background-color: #000;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

button:hover {
    background-color: #333;
}

.alert {
    background-color: #ffe5e5;
    color: #b30000;
    padding: 10px 15px;
    margin-bottom: 16px;
    border: 1px solid #b30000;
    border-radius: 8px;
    font-size: 14px;
}


