version: '3.8'

services:
  master:
    build:
      context: .
      dockerfile: Dockerfile.master
    container_name: ansible-master
    tty: true
    stdin_open: true
    depends_on:
      - node1
      - node2
    networks:
      - ansible-net

  node1:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: ansible-node1
    tty: true
    networks:
      - ansible-net

  node2:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: ansible-node2
    tty: true
    networks:
      - ansible-net

networks:
  ansible-net:
    driver: bridge
